* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    /* display: flex; */
}


.main {
    height: 100vh;
    width: 100vw;
    background-image: url('../png/main.png');
    background-size: cover;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    justify-items: center;
}

/* nav */
.logo {
    font-size: 30px;
    font-family: Pretendard;
    font-weight: 600;
    color: white;
    padding-left: 100px;
    text-decoration: none;
}

.nav-container a {
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-left: 80px;
    width: 150px;
}

.nav-container {
    padding-right: 100px;
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    margin-bottom: 230px;
}


/* main */

.where-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 54px;
    font-family: Pretendard;
    font-weight: 500;
    color: white;
    margin-bottom: 26px;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 2px;
    /* transform: rotate(-359.83deg); */
    opacity: 0.3;
    background-color: #f5f5f5;
    place-content: center;
    margin: auto;
  }

.check-box{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.check-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}

.check-box p{
    font-size: 14px;
    font-family: Pretendard;
    font-weight: 600;
    color: #f5f5f5;
    margin-bottom: 10px;
    opacity: 0.8;
    /* text-shadow: 0 0 2px rgba(0, 0, 0, 0.25); */
    text-align: left;
}

select {
    /* 생략 */
      font-family: "Noto Sansf KR", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;

      color: #444;
      background-color: #fff;
      background-color:rgba(255, 255, 255, 0.5);
      /* opacity: 0.3; */

      padding: 0.6em 6.8em 0.7em 6.8em;
      margin: 0;

      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 0.5em;
      box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);

      -webkit-appearance:none; /* 크롬 화살표 없애기 */
      -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
      appearance:none /* 화살표 없애기 */
  }

  select:hover {
      border-color: #888;
  }

  select:focus {
      border-color: #aaa;
      box-shadow: 0 0 0 3px -moz-mac-focusring;
      color: #222;
      outline: none;
    }

  select:disabled {
      opacity: 0.5;
    }

  /* input[type="datetime-local"]::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
      width: 20px;
      height: 20px;
      border-width: thin;
   } */

   .date {
      font-family: "Noto Sansf KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    color: #444;
    /* background-color: #fff; */
    background-color:rgba(255, 255, 255, 0.5);
    /* opacity: 0.3; */

    padding: 0.6em 5em 0.5em 5em;
    margin: 0;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    text-decoration: none;
   }

   .date:focus{
      border-color: #aaa;

      box-shadow: 0 0 0 3px -moz-mac-focusring;
      color: #222;
      outline: none;
   }

  .date:hover {
      border-color: #888;
  }


  .date[type="date"]::-webkit-calendar-picker-indicator,
  .date[type="date"]::-webkit-inner-spin-button {
       display: none;
       appearance: none;
   }

  .date[type="date"]::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      width: 20px;
      height: 20px;
      border-width: thin;
      cursor: pointer;
  }

.find-btn{
	text-align: right;
}

.search-btn {
    display :inline-block;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    font-family: 'Pretendard';
    font-size: 16px;
    color: #ebebeb;
    border: solid 1px;
    border-radius: 0.5em;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    padding: 4px 20px;
    margin-right: 17%;
    margin-top: 2%;
}

.search-btn:hover {
    border-color: #888;
    color: white;
    background-color: #fff;
    background-color:rgba(255, 255, 255, 0.4);
  }




/* -----------------------결과페이지---------------------------*/

.result {
    background-image: url('resultback.png');
    /* background-position: left top; */
    background-repeat: no-repeat;
    /* background-size: 1920px 350px; */
    height: 100vh;
    width: 100vw;
    min-width: 1300px;
}

.container {
    width: auto;
    margin-top: 130px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    background: #fff;
    height: 70px;

}

.search-result {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 10px;
    height: 20px;
    box-sizing: border-box;
    text-align:left;
    width: 1000px;
    margin-left: 10%;

}

.search-content-1, .search-content-2, .search-content-3 {
    color: #C8C8C8;
    font-size: 14px;
    font-family:'Pretendard-Regular';
}

.result-content-1, .result-content-2{

    line-height: 1.5;
    color: #444;
    background-color: #fff;
    width: 210px;
    height: 25px;
    margin: 0;
    padding: 1px 30px;
    border: 2px solid #c8c8c8;
    border-radius: 20px;
    font-family: "Pretendard-regular";
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    outline: none;

}

.result-content-3{
    line-height: 1.5;
    color: #444;
    background-color: #fff;
    width: 150px;
    height: 20px;
    margin: 0;
    padding: 1px 30px;
    border: 2px solid #c8c8c8;
    border-radius: 20px;
    font-family: "Pretendard-regular";
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    outline: none;
}

.result-content-3:hover{
    border-color: #888;

}


.clear-box{
    display: block;
    margin-LEFT: 65%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 20vw;
    min-width: 180px;
    height: 15vh;
    padding-top: 1.5%;
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.3 );
    border-radius: 3%;
    margin-top: 100px;
    color:#fff;

}



section{
    display: flex;
    justify-content:right;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-family:'Pretendard-ExtraBold;';
    font-weight: 800;
    padding-right: 30px;
}

.clear-box img{
    width: 50px;
}

.clear-date{
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Pretendard-regular';

}

.info{
    width: 100%;
    display: flex;
    padding-top: 0;
    margin: 0 auto;
    height: 55%;
    background-color: rgba(213, 213, 213, 0.24);
    min-width: 1300px;
}

.weather{
    display: block;
    margin-LEFT: 10%;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 240px;
    min-width: 240px;
    height: 80%;
    background-color: #ffffff;
    border-radius: 3%;
    margin-top: 40px;
    color:black;
}

.info-txt{
    margin-left: 10%;
    margin-top: 10%;
    font-family: "Pretendard-regular";
    font-size: 16px;
    font-weight: bold;
}


canvas{
    width: 320;
    height: 460;
}
.graph{
    display: block;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 400Px;
    min-width: 400px;
    height: 80%;
    background-color: #ffffff;
    border-radius: 3%;
    margin-top: 40px;
    color:black;
}

.tourist-count{
    display: block;
    margin-left: 10%;
    margin-RIGHT: 10%;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 260Px;
    min-width: 260px;
    height: 80%;
    background-color: #4c87da;
    border-radius: 3%;
    margin-top: 40px;
    color:white;
}

.last-year-card{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 80%;
    height: 25%;
    background-color: #4c87da;
    border-radius: 3%;
    margin-top: 10px;
    color:white;

}

.temp{
    border-bottom:2px solid white;
    padding-bottom:1px;
    font-family: "Pretendard-regular";
    font-size: 32px;
    font-weight: bold;

}

.temp2{
    border-bottom:2px solid white;
    padding-bottom:1px;
    font-family: "Pretendard-regular";
    font-size: 32px;
    font-weight: bold;

}

.last-date{
    font-family: "Pretendard-regular";
    font-size: 12px;
    font-weight: bold;
}

.weather-info{
    display: block;
    padding-left: 10px;

}

.weather-notice{
    font-family: "Pretendard-regular";
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: left;

}
/*
.this-year-card{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 80%;
    height: 25%;
    background-color: #4c87da;
    border-radius: 3%;
    margin-top: 10px;
    color:white;
    font-family: "Pretendard-regular";
    font-size: 24px;
    font-weight: bold;

}*/

.this-year-card{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 80%;
    height: 25%;
    background-color: #4c87da;
    border-radius: 3%;
    margin-top: 10px;
    color:white;

}

.graph canvas{

    margin-left: 10%;
    margin-top: 3%;
}

.complexity{
    display: flex;

}

.tourist-date {
    text-align: right;
    font-family: "Pretendard-regular";
    font-size: 24px;
    font-weight: bold;
    margin-right: 10%;
    margin-top: 5%;
}

.tour-txt1{
    text-align: center;
    font-family: "Pretendard-regular";
    font-size: 16px;
    margin-right: 25%;
    margin-top: 20%;

}

.tour-count{
    text-align: center;
    font-family: "Pretendard-regular";
    font-size: 40px;

    font-weight: bold;
}

.tour-txt2{
    text-align: center;
    font-family: "Pretendard-regular";
    font-size: 16px;
    margin-right: 40%;
    margin-top: 15%;

}


.complexity-txt{
    font-family: "Pretendard-regular";
    font-size: 36px;
    font-weight: bold;

}



.complexity {
    margin-left: 17%;
    font-family: "Pretendard-regular";
}


.tour-txt3{

    padding-top: 10%;

}

.search-btn2 {


    background-color:#4c87da;
    color: #fff;
    border: none;
    border-radius:10px;
    padding:7px;
    min-height:6px;
    min-width: 60px;
    font-family:"Pretendard-regular";
    font-weight:bold;


}

.bonus{
    background-color:#fff;
    color: #4c87da;
    font-family:"Pretendard-regular";
    font-weight:bold;
    text-decoration: none;

}

.bonus:hover{
    background-color:#fff;
    color: #4c87da;
    font-family:"Pretendard-regular";
    font-weight:bold;
    text-decoration: none;
    border-bottom:2px solid #4c87da;

}

/* -----------------------결과페이지---------------------------*/

.result {
    background-image: url('../png/resultback.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 1920px 350px;
    height: 100vh;
    width: 100vw;
    min-width: 1300px;
}

.container {
    width: auto;
    margin-top: 130px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    background: #fff;
    height: 70px;

}

.search-result {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 10px;
    height: 20px;
    box-sizing: border-box;
    text-align:left;
    width: 1000px;
    margin-left: 10%;

}

.search-content-1, .search-content-2, .search-content-3 {
    color: #C8C8C8;
    font-size: 14px;
    font-family:'Pretendard-Regular';
}

.result-content-1, .result-content-2{

    line-height: 1.5;
    color: #444;
    background-color: #fff;
    width: 210px;
    height: 25px;
    margin: 0;
    padding: 1px 30px;
    border: 2px solid #c8c8c8;
    border-radius: 20px;
    font-family: "Pretendard-regular";
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    outline: none;

}

.result-content-3{
    line-height: 1.5;
    color: #444;
    background-color: #fff;
    width: 150px;
    height: 20px;
    margin: 0;
    padding: 1px 30px;
    border: 2px solid #c8c8c8;
    border-radius: 20px;
    font-family: "Pretendard-regular";
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    outline: none;
}

.result-content-3:hover{
    border-color: #888;

}


.clear-box{
    display: block;
    margin-LEFT: 65%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 20vw;
    min-width: 180px;
    height: 15vh;
    padding-top: 1.5%;
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.3 );
    border-radius: 3%;
    margin-top: 100px;
    color:#fff;

}



section{
    display: flex;
    justify-content:right;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-family:'Pretendard-ExtraBold;';
    font-weight: 800;
    padding-right: 30px;
}

.clear-box img{
    width: 50px;
}

.clear-date{
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Pretendard-regular';

}

.info{
    width: 100%;
    display: flex;
    padding-top: 0;
    margin: 0 auto;
    height: 55%;
    background-color: rgba(213, 213, 213, 0.24);
    min-width: 1300px;
}

.weather{
    display: block;
    margin-LEFT: 10%;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 240px;
    min-width: 240px;
    height: 80%;
    background-color: #ffffff;
    border-radius: 3%;
    margin-top: 40px;
    color:black;
}

.info-txt{
    margin-left: 10%;
    margin-top: 10%;
    font-family: "Pretendard-regular";
    font-size: 16px;
    font-weight: bold;
}


canvas{
    width: 320;
    height: 460;
}
.graph{
    display: block;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 400Px;
    min-width: 400px;
    height: 80%;
    background-color: #ffffff;
    border-radius: 3%;
    margin-top: 40px;
    color:black;
}

.tourist-count{
    display: block;
    margin-left: 10%;
    margin-RIGHT: 10%;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 260Px;
    min-width: 260px;
    height: 80%;
    background-color: #4c87da;
    border-radius: 3%;
    margin-top: 40px;
    color:white;
}

.last-year-card{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 80%;
    height: 25%;
    background-color: #4c87da;
    border-radius: 3%;
    margin-top: 10px;
    color:white;

}

.temp{
    border-bottom:2px solid white;
    padding-bottom:1px;
    font-family: "Pretendard-regular";
    font-size: 32px;
    font-weight: bold;

}

.temp2{
    border-bottom:2px solid white;
    padding-bottom:1px;
    font-family: "Pretendard-regular";
    font-size: 32px;
    font-weight: bold;

}

.last-date{
    font-family: "Pretendard-regular";
    font-size: 12px;
    font-weight: bold;
}

.weather-info{
    display: block;
    padding-left: 10px;

}

.weather-notice{
    font-family: "Pretendard-regular";
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: left;

}
/*
.this-year-card{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 80%;
    height: 25%;
    background-color: #4c87da;
    border-radius: 3%;
    margin-top: 10px;
    color:white;
    font-family: "Pretendard-regular";
    font-size: 24px;
    font-weight: bold;

}*/

.this-year-card{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 80%;
    height: 25%;
    background-color: #4c87da;
    border-radius: 3%;
    margin-top: 10px;
    color:white;

}

.graph canvas{

    margin-left: 10%;
    margin-top: 3%;
}

.complexity{
    display: flex;

}

.tourist-date {
    text-align: right;
    font-family: "Pretendard-regular";
    font-size: 24px;
    font-weight: bold;
    margin-right: 10%;
    margin-top: 5%;
}

.tour-txt1{
    text-align: center;
    font-family: "Pretendard-regular";
    font-size: 16px;
    margin-right: 25%;
    margin-top: 20%;

}

.tour-count{
    text-align: center;
    font-family: "Pretendard-regular";
    font-size: 40px;

    font-weight: bold;
}

.tour-txt2{
    text-align: center;
    font-family: "Pretendard-regular";
    font-size: 16px;
    margin-right: 40%;
    margin-top: 15%;

}


.complexity-txt{
    font-family: "Pretendard-regular";
    font-size: 36px;
    font-weight: bold;

}



.complexity {
    margin-left: 17%;
    font-family: "Pretendard-regular";
}


.tour-txt3{

    padding-top: 10%;

}

/* .search-btn2 {


    background-color:#fff;
    color: #4c87da;
    border-color:#4c87da;
    border-radius:10px;
    padding:7px;
    min-height:6px;
    min-width: 60px;
    font-family:"Pretendard-regular";
    font-weight:bold;


}

.search-btn2:hover {
    background-color:#4c87da;
    border: none;
    color: #fff;
    transition: 0.7s;
} */

.search-btn2 {


    background-color:#4c87da;
    color: #fff;
    border: none;
    border-radius:10px;
    padding:7px;
    min-height:6px;
    min-width: 60px;
    font-family:"Pretendard-regular";
    font-weight:bold;


}

.bonus{
    background-color:#fff;
    color: #4c87da;
    font-family:"Pretendard-regular";
    font-weight:bold;
    text-decoration: none;

}

.bonus:hover{
    background-color:#fff;
    color: #4c87da;
    font-family:"Pretendard-regular";
    font-weight:bold;
    text-decoration: none;
    border-bottom:2px solid #4c87da;

}



